* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* @font-face { 
    font-family: "Segoe UI";
    src: url(fonts/segui.ttf) format("truetype"),
}
@font-face { 
    font-family: "Helvetica Neue";
    src: url(fonts/helvetica.ttf) format("truetype"),
} */
@font-face { 
    font-family: 'Nunito';
	src: url(fonts/nunito.ttf) format("truetype");
}
body {
	font-family: 'Nunito', sans-serif;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
}
.container {
	max-width: 1175px;
	padding: 25px 150px;
	margin: 0 auto;
}
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: wrap;
}
.header__logo {
	margin-left: -82px;
}
.header__menu {
	display: flex;
}
.header__icon {
	padding-top: 10px;
	padding-right: 10px;
} 
.header__subtitle {
	font-weight: 700;
	font-size: 13px;
	text-decoration: none;
	color: #333 !important;
}
.header__title {
	font-size: 13px;
	text-transform: uppercase;
	color: #333 !important;
}
.header__social > a {
	padding-right: 10px;
}
hr {
	margin: 0 30px;
}
.main_block { 
	height: 620px;
	background-image: url("../img/world2.jpg");
	background-size: cover;
	background-position: center center;
	transition: all 1s linear; 
	transition-property: all;
}
.alert-message {
	font-family: 'Nunito', sans-serif;
	background-color: #ffd6cc;
	width: 400px;
	margin: 0 auto;
	font-size: 13px;
	text-align: left;
	border-radius: 5px;
	padding: 10px 15px;
	margin-bottom: 5px;
}
.alert-message > ul {
	padding-left: 22px;
	font-size: 13px;
	text-align: left;
}
.main {
	padding-top: 40px;
	text-align: center;
	padding-top: 200px;
	color: white;
	text-transform: uppercase;
}
.main__menu-nav {
	display: flex;
}
.main__menu-nav > li {
	margin-right: 40px;
	list-style-type: none;
}
.main__menu {
	display: flex;
	justify-content: center;
}
.main__title {
	margin: 0 auto;
	font-size: 18px;
	font-weight: 700;
	width: 320px;
	border-bottom: 3px solid #ed1c28 ;
}
.main__subtitle {
	padding-top: 40px;
	letter-spacing: 5px;
}
.main__menu {
	padding-top: 30px;
	font-weight: 700;
	padding-bottom: 30px;
}
.main__button {
	text-align: center;
}
.main__button-item {
	width: 140px;
	border: 2px solid white;
	border-radius: 12px;
	font-size: 12px;
	font-weight: 700;
	padding: 6px 6px;
	background-color: transparent;
	color: white;
	text-transform: uppercase;
	font-family: 'Nunito', sans-serif;
}
.header__bottom_nav {
	display: flex;
	list-style-type: none;
	justify-content: space-between;
}
.header__nav-item {
	color: #333;
}
.header__nav-item > a {
	color: #333;
	text-decoration: none;
}
.header__nav-item > a:hover {
	text-decoration: underline;
}
.header__bottom {
	width: 100%;
	background: #fff;
}
.header__shadow {
	box-shadow: 0 5px 5px -5px rgba(0, 0, 0, .5);
}
.about__title, .about_club-title, .comments__title, .map__title {
	color: rgba(0,0,0,0.7);
	margin: 0 auto;
	text-align: center;
	font-weight: 700;
	font-size: 28px;
	width: 356px;
	border-bottom: 3px solid#ed1c28;
	margin-bottom: 20px;
	text-transform: uppercase;
}
.about__info {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}
.about__info-item > p {
	line-height: 24px;
	color: #394463;
	font-size: 16px;
	text-align: justify;
	font-family: 'Nunito', sans-serif;
}
.about__info-item {
	width: 50%;
	margin: 0 20px;
}
.about__card {
	display: flex;
	list-style-type: none;
	justify-content: center;
	flex-wrap: wrap;
	text-align: center;
}
.about__card-item {
	width: 25%;
	text-align: center;
	margin: 0 35px 15px;
}
.about__card-title {
	margin-top: 10px;
	font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
	margin-bottom: 10px;
	color: #394463;
	line-height: 24px;
	font-family: 'Nunito', sans-serif;
}
.about__card-info {
	color: #8e9198;
    font-size: 16px;
	line-height: 20px;
	font-family: 'Nunito', sans-serif;
}
.about__club {
	display: flex;
	max-height: 450px;
	width: 100%;
}
.about__director {
	max-height: 450px;
}
.about__director-info {
	padding-top: 110px;
	padding-bottom: 110px;
	padding-right: 45px;
	padding-left: 45px;
	background-color: #333;
	color: #bbb;
	text-align: left;
	line-height: 1.6;
	max-height: 450px;
}
.about__director-info > p {
	font-size: 15px;
	padding-bottom: 40px;
	text-align: justify;
}
.map {
	padding-bottom: 20px;
}
.about__director-info > h5 {
	color: white;
	padding-bottom: 25px;

}
.about__director-info > a {
	width: 180px;
	height: 40px;
	background-color: transparent;
	padding: 10px 20px;
	font-size: 12px;
	border: 2px solid white;
	text-decoration: none;
	color: white;
	line-height: 1.4;
	border-radius: 50px;
	font-weight: 700;
	text-transform: uppercase;
}
.about_club-title {
	text-align: center;
}
.about_club-title {
	width: 95px;
}
.list-item {
	height: 520px;
	width: 370px;
	margin-right: 20px;
	margin-left: 20px;
	list-style-type: none;
	border: 1px solid #eee;
}
.list-item > img {
	width: 370px;
	height: 370px;
}
.comments__list-title {
	padding: 20px;
	font-size: 14px;
	font-weight: bold;
}
.list-item > p {
	padding-left: 20px;
	font-size: 16px;
}
.comments__title {
	width: 245px;
}
.wrapper {
	display: flex;
    flex-direction: column;
	min-height: 100vh;
}
.footer {
	color: black;
	padding: 45px 0 40px;
	background-color: #F0F0F0;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex: 0 0 auto;
}
.footer__nav {
	display: flex;
	flex-direction: column;
}
.footer__nav-item {
	color: black;
	text-decoration: none;
}
.footer__nav-item:hover {
	text-decoration: underline;
}
.footer__company {
	font-size: 12px;
}
.footer__copyright {
	text-align: center;
	font-size: 12px;
	background-color: #F0F0F0;
	margin-top: -30px;
}
.modal_window_about {
	position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    align-items: flex-start;
    z-index: 1000;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
    visibility: hidden;
}
.wrapper_modal {
	position: relative;
    top: 200px;
    width: 960px;
    height: 490px;
    padding: 36px 48px;
    background-color: white;
    padding: 24px;
    border-radius: 20px;
}
.modal-about {
	font-weight: 500;
    font-size: 20px;
    line-height: 38px;
    margin-bottom: 20px;
}
.close-menu {
    position: absolute;
    top: 8px;
    right: -30px;
    cursor: pointer;
    color: white;
    font-size: 24px;
}
.close-menu > svg {
	width: 15px;
	height: 15px;
	fill: white;
}
.about__service-modal {
	position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    align-items: flex-start;
    z-index: 1000;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
    visibility: hidden;
}
.about__service-modal_wrapper {
	position: relative;
    top: 200px;
    width: 960px;
    height: 390px;
    padding: 36px 48px;
    background-color: white;
    padding: 24px;
    border-radius: 20px;
}
.about__service-modal-about {
	font-weight: 500;
    font-size: 20px;
    line-height: 38px;
    margin-bottom: 20px;
}
.about__service-modal-close-menu {
    position: absolute;
    top: 8px;
    right: -30px;
    cursor: pointer;
    color: white;
    font-size: 24px;
}
.about__service-modal-modal_text {
	display: flex;
}
.about__service-modal-img {
	padding-right: 10px;
}
.about__service-modal-close-menu > svg {
	width: 15px;
	height: 15px;
	fill: white;
}
@media only screen and (min-device-width: 1366px) and (max-device-width: 1366px) {
	.about__service-modal_wrapper {
	position: relative;
    top: 100px;
    width: 960px;
    height: 390px;
    padding: 36px 48px;
    background-color: white;
    padding: 24px;
    border-radius: 20px;
}
	.wrapper_modal {
	position: relative;
    top: 85px;
    width: 960px;
    height: 490px;
    padding: 36px 48px;
    background-color: white;
    padding: 24px;
    border-radius: 20px;
}
}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
	.header {
		display: none;
	}
	.header__bottom {
		display: none;
	}
	.about__club {
		flex-direction: column;
	}
	.about__director > img {
		width: 100%;
		height: 600px;
	}
	.comments__title {
		margin-top: 450px;
	}
	.map iframe {
		width: 700px;
	}
	.about__info {
		flex-direction: column;
	}
	.about__info-item {
		width: 100%;
		margin-top: 30px;
	}
	.about__card {
		flex-direction: column;
	}
	.about__card-item {
		width: 50%;
		margin: 0 auto;
		margin-top: 50px;
	}
}
@media only screen and (min-device-width: 668px) and (max-device-width: 1024px) {
	.header {
		display: none;
	}
	.header__bottom {
		display: none;
	}
	.about__club {
		flex-direction: column;
	}
	.about__director > img {
		width: 100%;
		height: 600px;
	}
	.comments__title {
		margin-top: 450px;
	}
	.map iframe {
		width: 700px;
	}
	.about__info {
		flex-direction: column;
	}
	.about__info-item {
		width: 100%;
		margin-top: 30px;
	}
	.about__card {
		flex-direction: column;
	}
	.about__card-item {
		width: 50%;
		margin: 0 auto;
		margin-top: 50px;
	}
} 